body {
    background-color: black;
}

.background {
    overflow: hidden;
}

.slidingBackground {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: url("../png/galaxy1.jpg") repeat-x;
    height: 100%;
    width: 2250px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-750px,0,0);
    }
}

h1 {
    color: white;
    font-family: monospace;
    font-weight: bold;
}

span {
    color: white;
    font-family: monospace;
    font-weight: bold;
}

li {
    color: white;
    font-family: monospace;
    font-weight: bold;
    list-style: none;
}

.name {
    text-align: center;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

#name {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 0;
    font-style: italic;
}

#intro {
    font-size: 35px;
    margin-top: 0;
    color: rgba(238, 186, 54, 0.8);
    animation: fadeIn ease-in-out 8s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

.row1 {
    display: flex;
    margin-top: 40px;
}

.about {
    width: 65%;
    margin-left: 50px;
}

.about img {
    height: 150px;
    width: 150px;
    margin-left: 50px;
}
.skills {
    margin-left: 250px;
}

.row2 {
    display: flex;
}

.projects {
    width: 65%;
    margin-left: 50px;
}

h2 {
    color: white;
    font-family: monospace;
    font-size: 12px;
    padding-top: 5px;
}

.card img {
    height: 30px;
    width: 30px;
}

.card:hover {
    transform: scale(1.2);
}

.card {
    padding: 0;
    height: 65px;
    width: 65px;
    background-color: rgba(26, 24, 24, 1);
    text-align: center;
    border-radius: 10px;
}

.column {
    float: left;
    padding: 0;
    width: 30%;
}

h3 {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.projectsList {
    display: flex;
}

a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
}

.contactList img {
    height: 40px;
    width: 40px;
}

.contactList {
    display: flex;
}

.projectsList img {
    height: 120px;
}

.project {
    width: 130px;
    margin-left: 30px;
}

.contactCard {
    padding-top: 10px;
}

.contactCard span {
    font-size: 15px;
}




