*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.galaxy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.origin,
.control,
.galaxy,
.star {
  position: absolute;
  transform-style: preserve-3d;
  left: 50%;
  top: 50%;
}

.origin {
  transform: translate3d(0vw, 0vh, 0vmin);
}

.control {
  transform: scale3d(0, 0, 0);
  animation: appear 10s linear forwards;
}

.galaxy {
  animation: rotation 20s linear infinite;
}

.star, .star::before, .star::after {
  position: absolute;
  transform-style: preserve-3d;
}
.star::before, .star::after {
  background: var(--background);
  border-radius: 50%;
  box-shadow: var(--shadow);
  content: "";
  height: var(--size);
  width: var(--size);
}
.star::before {
  transform: var(--transform);
}
.star::after {
  transform: scale3d(-1, -1, -1) var(--transform);
}

.star:nth-of-type(1) {
  --size: 0.575984032vmin;
  --background: #a9f6aa;
  --shadow: 0 0 0.6247246447vmin 0.0043022954vmin #a9f6aa;
  --transform: rotate3d(1, 0, 0, 322deg) rotate3d(0, 1, 0, 9deg) rotate3d(0, 0, 1, 78deg) translate3d(0, 0, 66.5358046373vmin) ;
}

.star:nth-of-type(2) {
  --size: 0.3451298648vmin;
  --background: #f3efac;
  --shadow: 0 0 0.4106377966vmin 0.0501909003vmin #f3efac;
  --transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 134deg) rotate3d(0, 0, 1, 292deg) translate3d(0, 0, 84.3496999751vmin) ;
}

.star:nth-of-type(3) {
  --size: 0.5983825325vmin;
  --background: #dee6ec;
  --shadow: 0 0 0.5074773157vmin 0.2789375135vmin #fefefe;
  --transform: rotate3d(1, 0, 0, 267deg) rotate3d(0, 1, 0, 351deg) rotate3d(0, 0, 1, 58deg) translate3d(0, 0, 81.9054442642vmin) ;
}

.star:nth-of-type(4) {
  --size: 0.4883932367vmin;
  --background: #f79595;
  --shadow: 0 0 0.4477054257vmin 0.0136681204vmin #f79595;
  --transform: rotate3d(1, 0, 0, 272deg) rotate3d(0, 1, 0, 271deg) rotate3d(0, 0, 1, 225deg) translate3d(0, 0, 86.2394795957vmin) ;
}

.star:nth-of-type(5) {
  --size: 0.7121210547vmin;
  --background: #706df4;
  --shadow: 0 0 0.5536639444vmin 0.221390236vmin #7a77f4;
  --transform: rotate3d(1, 0, 0, 37deg) rotate3d(0, 1, 0, 69deg) rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 69.9446182192vmin) ;
}

.star:nth-of-type(6) {
  --size: 0.5358746758vmin;
  --background: #ff80b3;
  --shadow: 0 0 0.3494480921vmin 0.0045812248vmin #ff80b3;
  --transform: rotate3d(1, 0, 0, 338deg) rotate3d(0, 1, 0, 280deg) rotate3d(0, 0, 1, 234deg) translate3d(0, 0, 81.6492979363vmin) ;
}

.star:nth-of-type(7) {
  --size: 0.7186711414vmin;
  --background: #f79595;
  --shadow: 0 0 1.0486019991vmin 0.010956867vmin #f79595;
  --transform: rotate3d(1, 0, 0, 163deg) rotate3d(0, 1, 0, 19deg) rotate3d(0, 0, 1, 19deg) translate3d(0, 0, 75.5533030888vmin) ;
}

.star:nth-of-type(8) {
  --size: 0.4192982499vmin;
  --background: #eb2495;
  --shadow: 0 0 0.2633942183vmin 0.1390398506vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 96deg) rotate3d(0, 1, 0, 208deg) rotate3d(0, 0, 1, 104deg) translate3d(0, 0, 79.8904728148vmin) ;
}

.star:nth-of-type(9) {
  --size: 0.2697113052vmin;
  --background: #ff3969;
  --shadow: 0 0 0.3645971852vmin 0.1236711427vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 340deg) rotate3d(0, 1, 0, 95deg) rotate3d(0, 0, 1, 154deg) translate3d(0, 0, 73.6891513185vmin) ;
}

.star:nth-of-type(10) {
  --size: 0.5105358916vmin;
  --background: #f57e7e;
  --shadow: 0 0 0.4273303304vmin 0.0595727431vmin #f79090;
  --transform: rotate3d(1, 0, 0, 279deg) rotate3d(0, 1, 0, 145deg) rotate3d(0, 0, 1, 352deg) translate3d(0, 0, 70.4003109238vmin) ;
}

.star:nth-of-type(11) {
  --size: 0.4664680166vmin;
  --background: #b7f8b7;
  --shadow: 0 0 0.6780562222vmin 0.0251728714vmin #b7f8b7;
  --transform: rotate3d(1, 0, 0, 160deg) rotate3d(0, 1, 0, 146deg) rotate3d(0, 0, 1, 36deg) translate3d(0, 0, 75.3349587762vmin) ;
}

.star:nth-of-type(12) {
  --size: 0.6177333637vmin;
  --background: #31b6ef;
  --shadow: 0 0 0.8795598637vmin 0.0291630517vmin #31b6ef;
  --transform: rotate3d(1, 0, 0, 306deg) rotate3d(0, 1, 0, 72deg) rotate3d(0, 0, 1, 73deg) translate3d(0, 0, 75.4865374224vmin) ;
}

.star:nth-of-type(13) {
  --size: 0.6571646587vmin;
  --background: #13a9e9;
  --shadow: 0 0 0.7535188619vmin 0.2820740557vmin #2cb4ee;
  --transform: rotate3d(1, 0, 0, 78deg) rotate3d(0, 1, 0, 227deg) rotate3d(0, 0, 1, 47deg) translate3d(0, 0, 84.7739517294vmin) ;
}

.star:nth-of-type(14) {
  --size: 0.7328633419vmin;
  --background: #f79a60;
  --shadow: 0 0 1.0614592927vmin 0.2109197379vmin #f9b890;
  --transform: rotate3d(1, 0, 0, 298deg) rotate3d(0, 1, 0, 117deg) rotate3d(0, 0, 1, 108deg) translate3d(0, 0, 80.5960820287vmin) ;
}

.star:nth-of-type(15) {
  --size: 0.4627142782vmin;
  --background: #ea1b90;
  --shadow: 0 0 0.3110994447vmin 0.1500705037vmin #ea1b90;
  --transform: rotate3d(1, 0, 0, 117deg) rotate3d(0, 1, 0, 265deg) rotate3d(0, 0, 1, 218deg) translate3d(0, 0, 66.3858472583vmin) ;
}

.star:nth-of-type(16) {
  --size: 0.6709160837vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.999020018vmin 0.2963286391vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 325deg) rotate3d(0, 1, 0, 324deg) rotate3d(0, 0, 1, 358deg) translate3d(0, 0, 78.5661541288vmin) ;
}

.star:nth-of-type(17) {
  --size: 0.3384336291vmin;
  --background: #36b7ef;
  --shadow: 0 0 0.5000731236vmin 0.1175214637vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 125deg) rotate3d(0, 1, 0, 49deg) rotate3d(0, 0, 1, 252deg) translate3d(0, 0, 87.3496511657vmin) ;
}

.star:nth-of-type(18) {
  --size: 0.5872958186vmin;
  --background: #8380f5;
  --shadow: 0 0 0.8398923435vmin 0.2225119266vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 333deg) rotate3d(0, 1, 0, 338deg) rotate3d(0, 0, 1, 345deg) translate3d(0, 0, 89.2438131592vmin) ;
}

.star:nth-of-type(19) {
  --size: 0.7218052863vmin;
  --background: #6b297c;
  --shadow: 0 0 0.7295588229vmin 0.0392169469vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 191deg) rotate3d(0, 1, 0, 182deg) rotate3d(0, 0, 1, 284deg) translate3d(0, 0, 82.6220264991vmin) ;
}

.star:nth-of-type(20) {
  --size: 0.3505583862vmin;
  --background: #12a2e0;
  --shadow: 0 0 0.2564989748vmin 0.0613829879vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 53deg) rotate3d(0, 1, 0, 101deg) rotate3d(0, 0, 1, 288deg) translate3d(0, 0, 70.7476338066vmin) ;
}

.star:nth-of-type(21) {
  --size: 0.5889983946vmin;
  --background: #f79595;
  --shadow: 0 0 0.8367842822vmin 0.0991214846vmin #f79595;
  --transform: rotate3d(1, 0, 0, 239deg) rotate3d(0, 1, 0, 172deg) rotate3d(0, 0, 1, 340deg) translate3d(0, 0, 80.2703645644vmin) ;
}

.star:nth-of-type(22) {
  --size: 0.5830974852vmin;
  --background: #f57e7e;
  --shadow: 0 0 0.8271068648vmin 0.2490089172vmin #f79090;
  --transform: rotate3d(1, 0, 0, 247deg) rotate3d(0, 1, 0, 3deg) rotate3d(0, 0, 1, 163deg) translate3d(0, 0, 83.6388089359vmin) ;
}

.star:nth-of-type(23) {
  --size: 0.6154407916vmin;
  --background: #e1e8ed;
  --shadow: 0 0 0.8725943705vmin 0.2394464343vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 338deg) rotate3d(0, 1, 0, 84deg) rotate3d(0, 0, 1, 142deg) translate3d(0, 0, 66.7909946279vmin) ;
}

.star:nth-of-type(24) {
  --size: 0.5361350841vmin;
  --background: #13a9e9;
  --shadow: 0 0 0.4944969993vmin 0.2639428032vmin #2cb4ee;
  --transform: rotate3d(1, 0, 0, 99deg) rotate3d(0, 1, 0, 219deg) rotate3d(0, 0, 1, 39deg) translate3d(0, 0, 87.0136552581vmin) ;
}

.star:nth-of-type(25) {
  --size: 0.5126473943vmin;
  --background: #dd1486;
  --shadow: 0 0 0.352188913vmin 0.0340656597vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 100deg) rotate3d(0, 1, 0, 355deg) rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 68.9795902926vmin) ;
}

.star:nth-of-type(26) {
  --size: 0.4189822088vmin;
  --background: #ff4371;
  --shadow: 0 0 0.5300366572vmin 0.0557527987vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 328deg) rotate3d(0, 1, 0, 56deg) rotate3d(0, 0, 1, 52deg) translate3d(0, 0, 72.3080183223vmin) ;
}

.star:nth-of-type(27) {
  --size: 0.5252477035vmin;
  --background: #f8ac7d;
  --shadow: 0 0 0.3308209054vmin 0.2223799643vmin #f8ac7d;
  --transform: rotate3d(1, 0, 0, 96deg) rotate3d(0, 1, 0, 196deg) rotate3d(0, 0, 1, 230deg) translate3d(0, 0, 82.6223355023vmin) ;
}

.star:nth-of-type(28) {
  --size: 0.2829869528vmin;
  --background: #501f5d;
  --shadow: 0 0 0.2094834861vmin 0.0449848078vmin #722b83;
  --transform: rotate3d(1, 0, 0, 347deg) rotate3d(0, 1, 0, 68deg) rotate3d(0, 0, 1, 198deg) translate3d(0, 0, 86.0621987322vmin) ;
}

.star:nth-of-type(29) {
  --size: 0.4976889777vmin;
  --background: #f46f6f;
  --shadow: 0 0 0.399934817vmin 0.0499404195vmin #f89f9f;
  --transform: rotate3d(1, 0, 0, 151deg) rotate3d(0, 1, 0, 99deg) rotate3d(0, 0, 1, 215deg) translate3d(0, 0, 89.6301280001vmin) ;
}

.star:nth-of-type(30) {
  --size: 0.4581483018vmin;
  --background: #ff8ab9;
  --shadow: 0 0 0.3220562639vmin 0.1479666468vmin #ff8ab9;
  --transform: rotate3d(1, 0, 0, 35deg) rotate3d(0, 1, 0, 344deg) rotate3d(0, 0, 1, 229deg) translate3d(0, 0, 67.337804141vmin) ;
}

.star:nth-of-type(31) {
  --size: 0.6563456641vmin;
  --background: #eee784;
  --shadow: 0 0 0.8882163557vmin 0.0776801111vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 270deg) rotate3d(0, 1, 0, 304deg) rotate3d(0, 0, 1, 47deg) translate3d(0, 0, 85.8786400572vmin) ;
}

.star:nth-of-type(32) {
  --size: 0.3283774084vmin;
  --background: #6764f3;
  --shadow: 0 0 0.222786625vmin 0.0306463757vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 51deg) rotate3d(0, 1, 0, 15deg) rotate3d(0, 0, 1, 326deg) translate3d(0, 0, 86.9937857103vmin) ;
}

.star:nth-of-type(33) {
  --size: 0.6741957798vmin;
  --background: #6e2a7f;
  --shadow: 0 0 0.5331834188vmin 0.090405384vmin #6e2a7f;
  --transform: rotate3d(1, 0, 0, 150deg) rotate3d(0, 1, 0, 105deg) rotate3d(0, 0, 1, 273deg) translate3d(0, 0, 72.6370440198vmin) ;
}

.star:nth-of-type(34) {
  --size: 0.3580959187vmin;
  --background: #ff255a;
  --shadow: 0 0 0.2475222967vmin 0.1174302193vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 110deg) rotate3d(0, 0, 1, 231deg) translate3d(0, 0, 73.8507667181vmin) ;
}

.star:nth-of-type(35) {
  --size: 0.6082753219vmin;
  --background: #36b7ef;
  --shadow: 0 0 0.4102737924vmin 0.2876979385vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 176deg) rotate3d(0, 1, 0, 267deg) rotate3d(0, 0, 1, 8deg) translate3d(0, 0, 68.0066280006vmin) ;
}

.star:nth-of-type(36) {
  --size: 0.2653967001vmin;
  --background: #7a77f4;
  --shadow: 0 0 0.3977311375vmin 0.0651046091vmin #7a77f4;
  --transform: rotate3d(1, 0, 0, 262deg) rotate3d(0, 1, 0, 297deg) rotate3d(0, 0, 1, 218deg) translate3d(0, 0, 84.0834501677vmin) ;
}

.star:nth-of-type(37) {
  --size: 0.417551242vmin;
  --background: #91f493;
  --shadow: 0 0 0.273098449vmin 0.1488153734vmin #b7f8b7;
  --transform: rotate3d(1, 0, 0, 257deg) rotate3d(0, 1, 0, 42deg) rotate3d(0, 0, 1, 276deg) translate3d(0, 0, 79.4308020648vmin) ;
}

.star:nth-of-type(38) {
  --size: 0.4335621293vmin;
  --background: #ff8fbc;
  --shadow: 0 0 0.4034189987vmin 0.0513364199vmin #ff8fbc;
  --transform: rotate3d(1, 0, 0, 93deg) rotate3d(0, 1, 0, 320deg) rotate3d(0, 0, 1, 160deg) translate3d(0, 0, 78.02735558vmin) ;
}

.star:nth-of-type(39) {
  --size: 0.37487847vmin;
  --background: #ff4875;
  --shadow: 0 0 0.1940818106vmin 0.0604219211vmin #ff4875;
  --transform: rotate3d(1, 0, 0, 51deg) rotate3d(0, 1, 0, 261deg) rotate3d(0, 0, 1, 21deg) translate3d(0, 0, 76.6192426924vmin) ;
}

.star:nth-of-type(40) {
  --size: 0.4780488862vmin;
  --background: #ff255a;
  --shadow: 0 0 0.5093168836vmin 0.0486570738vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 13deg) rotate3d(0, 1, 0, 110deg) rotate3d(0, 0, 1, 41deg) translate3d(0, 0, 89.9706255374vmin) ;
}

.star:nth-of-type(41) {
  --size: 0.5115698964vmin;
  --background: #542061;
  --shadow: 0 0 0.4592828194vmin 0.1819383792vmin #6e2a7f;
  --transform: rotate3d(1, 0, 0, 42deg) rotate3d(0, 1, 0, 263deg) rotate3d(0, 0, 1, 240deg) translate3d(0, 0, 75.9324160002vmin) ;
}

.star:nth-of-type(42) {
  --size: 0.6624074497vmin;
  --background: #9ff6a0;
  --shadow: 0 0 0.921980222vmin 0.3206618327vmin #a9f6aa;
  --transform: rotate3d(1, 0, 0, 38deg) rotate3d(0, 1, 0, 267deg) rotate3d(0, 0, 1, 104deg) translate3d(0, 0, 68.6487492723vmin) ;
}

.star:nth-of-type(43) {
  --size: 0.6399185926vmin;
  --background: #fff6b7;
  --shadow: 0 0 0.5990204068vmin 0.0094869108vmin #fff6b7;
  --transform: rotate3d(1, 0, 0, 61deg) rotate3d(0, 1, 0, 17deg) rotate3d(0, 0, 1, 191deg) translate3d(0, 0, 67.2247601457vmin) ;
}

.star:nth-of-type(44) {
  --size: 0.5326525851vmin;
  --background: #ff71aa;
  --shadow: 0 0 0.4173435577vmin 0.151154053vmin #ff85b6;
  --transform: rotate3d(1, 0, 0, 298deg) rotate3d(0, 1, 0, 303deg) rotate3d(0, 0, 1, 27deg) translate3d(0, 0, 82.9426116131vmin) ;
}

.star:nth-of-type(45) {
  --size: 0.4732782678vmin;
  --background: #f57979;
  --shadow: 0 0 0.2955942667vmin 0.1338691217vmin #f79595;
  --transform: rotate3d(1, 0, 0, 42deg) rotate3d(0, 1, 0, 340deg) rotate3d(0, 0, 1, 226deg) translate3d(0, 0, 73.90704104vmin) ;
}

.star:nth-of-type(46) {
  --size: 0.6176588004vmin;
  --background: #23b1ed;
  --shadow: 0 0 0.4475901131vmin 0.1318094374vmin #23b1ed;
  --transform: rotate3d(1, 0, 0, 190deg) rotate3d(0, 1, 0, 2deg) rotate3d(0, 0, 1, 277deg) translate3d(0, 0, 78.8113857084vmin) ;
}

.star:nth-of-type(47) {
  --size: 0.3907513471vmin;
  --background: #f79a60;
  --shadow: 0 0 0.4300662569vmin 0.1736870956vmin #f9b890;
  --transform: rotate3d(1, 0, 0, 308deg) rotate3d(0, 1, 0, 275deg) rotate3d(0, 0, 1, 229deg) translate3d(0, 0, 77.0037005867vmin) ;
}

.star:nth-of-type(48) {
  --size: 0.3537566877vmin;
  --background: #501f5d;
  --shadow: 0 0 0.3394016685vmin 0.1318067551vmin #722b83;
  --transform: rotate3d(1, 0, 0, 232deg) rotate3d(0, 1, 0, 185deg) rotate3d(0, 0, 1, 319deg) translate3d(0, 0, 82.4219276268vmin) ;
}

.star:nth-of-type(49) {
  --size: 0.4021368513vmin;
  --background: #625ff3;
  --shadow: 0 0 0.6030178899vmin 0.1003427325vmin #8885f5;
  --transform: rotate3d(1, 0, 0, 34deg) rotate3d(0, 1, 0, 311deg) rotate3d(0, 0, 1, 35deg) translate3d(0, 0, 73.5287068072vmin) ;
}

.star:nth-of-type(50) {
  --size: 0.3142844893vmin;
  --background: #642674;
  --shadow: 0 0 0.2661680482vmin 0.0774452887vmin #642674;
  --transform: rotate3d(1, 0, 0, 310deg) rotate3d(0, 1, 0, 3deg) rotate3d(0, 0, 1, 159deg) translate3d(0, 0, 88.3057771201vmin) ;
}

.star:nth-of-type(51) {
  --size: 0.3972108973vmin;
  --background: #f57979;
  --shadow: 0 0 0.5723339835vmin 0.181026583vmin #f79595;
  --transform: rotate3d(1, 0, 0, 74deg) rotate3d(0, 1, 0, 107deg) rotate3d(0, 0, 1, 63deg) translate3d(0, 0, 70.1358666863vmin) ;
}

.star:nth-of-type(52) {
  --size: 0.3768013201vmin;
  --background: #fff299;
  --shadow: 0 0 0.4485509453vmin 0.0846124045vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 302deg) rotate3d(0, 1, 0, 277deg) rotate3d(0, 0, 1, 319deg) translate3d(0, 0, 68.9850359557vmin) ;
}

.star:nth-of-type(53) {
  --size: 0.4551381589vmin;
  --background: #31b6ef;
  --shadow: 0 0 0.628594981vmin 0.026589519vmin #31b6ef;
  --transform: rotate3d(1, 0, 0, 351deg) rotate3d(0, 1, 0, 254deg) rotate3d(0, 0, 1, 222deg) translate3d(0, 0, 88.3281119415vmin) ;
}

.star:nth-of-type(54) {
  --size: 0.2730700717vmin;
  --background: #f3eea7;
  --shadow: 0 0 0.2532229151vmin 0.0826351609vmin #f3eea7;
  --transform: rotate3d(1, 0, 0, 40deg) rotate3d(0, 1, 0, 263deg) rotate3d(0, 0, 1, 1deg) translate3d(0, 0, 68.1195414334vmin) ;
}

.star:nth-of-type(55) {
  --size: 0.4314060866vmin;
  --background: #ea1b90;
  --shadow: 0 0 0.5896731411vmin 0.091600753vmin #ea1b90;
  --transform: rotate3d(1, 0, 0, 83deg) rotate3d(0, 1, 0, 108deg) rotate3d(0, 0, 1, 159deg) translate3d(0, 0, 74.0149934383vmin) ;
}

.star:nth-of-type(56) {
  --size: 0.3517783473vmin;
  --background: #fff4a8;
  --shadow: 0 0 0.3940050308vmin 0.1167352784vmin #fff4a8;
  --transform: rotate3d(1, 0, 0, 315deg) rotate3d(0, 1, 0, 39deg) rotate3d(0, 0, 1, 23deg) translate3d(0, 0, 73.3165338328vmin) ;
}

.star:nth-of-type(57) {
  --size: 0.7439949098vmin;
  --background: #7a77f4;
  --shadow: 0 0 1.1147267381vmin 0.3407756158vmin #7a77f4;
  --transform: rotate3d(1, 0, 0, 155deg) rotate3d(0, 1, 0, 216deg) rotate3d(0, 0, 1, 134deg) translate3d(0, 0, 84.0755540178vmin) ;
}

.star:nth-of-type(58) {
  --size: 0.6199785534vmin;
  --background: #fff4ad;
  --shadow: 0 0 0.6952376485vmin 0.1883139309vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 339deg) rotate3d(0, 1, 0, 68deg) rotate3d(0, 0, 1, 305deg) translate3d(0, 0, 86.9138718387vmin) ;
}

.star:nth-of-type(59) {
  --size: 0.599495624vmin;
  --background: #ff4875;
  --shadow: 0 0 0.4339372992vmin 0.0850656833vmin #ff4875;
  --transform: rotate3d(1, 0, 0, 125deg) rotate3d(0, 1, 0, 356deg) rotate3d(0, 0, 1, 235deg) translate3d(0, 0, 76.5953258734vmin) ;
}

.star:nth-of-type(60) {
  --size: 0.6681515953vmin;
  --background: #fff6b7;
  --shadow: 0 0 0.7702469574vmin 0.178253682vmin #fff6b7;
  --transform: rotate3d(1, 0, 0, 300deg) rotate3d(0, 1, 0, 319deg) rotate3d(0, 0, 1, 197deg) translate3d(0, 0, 83.9188498521vmin) ;
}

.star:nth-of-type(61) {
  --size: 0.3152628027vmin;
  --background: #f8f9fb;
  --shadow: 0 0 0.3331670434vmin 0.1538275725vmin #f8f9fb;
  --transform: rotate3d(1, 0, 0, 79deg) rotate3d(0, 1, 0, 48deg) rotate3d(0, 0, 1, 89deg) translate3d(0, 0, 75.1721842454vmin) ;
}

.star:nth-of-type(62) {
  --size: 0.631746339vmin;
  --background: #6764f3;
  --shadow: 0 0 0.5893663455vmin 0.0374518868vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 285deg) rotate3d(0, 1, 0, 146deg) rotate3d(0, 0, 1, 27deg) translate3d(0, 0, 76.1355858198vmin) ;
}

.star:nth-of-type(63) {
  --size: 0.4328131076vmin;
  --background: #36b7ef;
  --shadow: 0 0 0.6417463388vmin 0.1921005049vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 293deg) rotate3d(0, 1, 0, 72deg) rotate3d(0, 0, 1, 142deg) translate3d(0, 0, 73.476626387vmin) ;
}

.star:nth-of-type(64) {
  --size: 0.5348376306vmin;
  --background: #eb1f93;
  --shadow: 0 0 0.5982524398vmin 0.2157347055vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 21deg) rotate3d(0, 1, 0, 49deg) rotate3d(0, 0, 1, 183deg) translate3d(0, 0, 82.4724876366vmin) ;
}

.star:nth-of-type(65) {
  --size: 0.5205246478vmin;
  --background: #bbf8bc;
  --shadow: 0 0 0.6803034801vmin 0.086813987vmin #bbf8bc;
  --transform: rotate3d(1, 0, 0, 316deg) rotate3d(0, 1, 0, 47deg) rotate3d(0, 0, 1, 164deg) translate3d(0, 0, 68.8663144006vmin) ;
}

.star:nth-of-type(66) {
  --size: 0.2564294792vmin;
  --background: #8df48e;
  --shadow: 0 0 0.3447470682vmin 0.0813304717vmin #bbf8bc;
  --transform: rotate3d(1, 0, 0, 330deg) rotate3d(0, 1, 0, 150deg) rotate3d(0, 0, 1, 259deg) translate3d(0, 0, 68.2793545044vmin) ;
}

.star:nth-of-type(67) {
  --size: 0.618862659vmin;
  --background: #6b297c;
  --shadow: 0 0 0.7067480085vmin 0.0451845423vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 179deg) rotate3d(0, 1, 0, 159deg) rotate3d(0, 0, 1, 300deg) translate3d(0, 0, 81.4196909833vmin) ;
}

.star:nth-of-type(68) {
  --size: 0.4588327527vmin;
  --background: #ff6ca7;
  --shadow: 0 0 0.453883245vmin 0.057055547vmin #ff8ab9;
  --transform: rotate3d(1, 0, 0, 145deg) rotate3d(0, 1, 0, 280deg) rotate3d(0, 0, 1, 271deg) translate3d(0, 0, 70.152859129vmin) ;
}

.star:nth-of-type(69) {
  --size: 0.5390128284vmin;
  --background: #31b6ef;
  --shadow: 0 0 0.31251083vmin 0.1622156067vmin #31b6ef;
  --transform: rotate3d(1, 0, 0, 151deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 173deg) translate3d(0, 0, 77.842509238vmin) ;
}

.star:nth-of-type(70) {
  --size: 0.4333531608vmin;
  --background: #fff6bd;
  --shadow: 0 0 0.4844997984vmin 0.1203097125vmin #fff6bd;
  --transform: rotate3d(1, 0, 0, 182deg) rotate3d(0, 1, 0, 354deg) rotate3d(0, 0, 1, 148deg) translate3d(0, 0, 68.4359561349vmin) ;
}

.star:nth-of-type(71) {
  --size: 0.2736329684vmin;
  --background: #ff4371;
  --shadow: 0 0 0.1923022148vmin 0.0359412024vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 254deg) rotate3d(0, 1, 0, 70deg) rotate3d(0, 0, 1, 338deg) translate3d(0, 0, 71.8509303455vmin) ;
}

.star:nth-of-type(72) {
  --size: 0.4199415694vmin;
  --background: #ff4d79;
  --shadow: 0 0 0.5499006504vmin 0.122153502vmin #ff4d79;
  --transform: rotate3d(1, 0, 0, 200deg) rotate3d(0, 1, 0, 276deg) rotate3d(0, 0, 1, 73deg) translate3d(0, 0, 82.9542481389vmin) ;
}

.star:nth-of-type(73) {
  --size: 0.4733763507vmin;
  --background: #d31380;
  --shadow: 0 0 0.5781214819vmin 0.2264609491vmin #ec2d99;
  --transform: rotate3d(1, 0, 0, 245deg) rotate3d(0, 1, 0, 155deg) rotate3d(0, 0, 1, 20deg) translate3d(0, 0, 75.8759164322vmin) ;
}

.star:nth-of-type(74) {
  --size: 0.4005273572vmin;
  --background: #7e7bf5;
  --shadow: 0 0 0.5790153767vmin 0.0418614035vmin #7e7bf5;
  --transform: rotate3d(1, 0, 0, 176deg) rotate3d(0, 1, 0, 37deg) rotate3d(0, 0, 1, 342deg) translate3d(0, 0, 87.9869184731vmin) ;
}

.star:nth-of-type(75) {
  --size: 0.2653562245vmin;
  --background: #ff85b6;
  --shadow: 0 0 0.2877905681vmin 0.0448002109vmin #ff85b6;
  --transform: rotate3d(1, 0, 0, 175deg) rotate3d(0, 1, 0, 7deg) rotate3d(0, 0, 1, 98deg) translate3d(0, 0, 88.6198715967vmin) ;
}

.star:nth-of-type(76) {
  --size: 0.6625405036vmin;
  --background: #ff2f61;
  --shadow: 0 0 0.4100506108vmin 0.1900444488vmin #ff4d79;
  --transform: rotate3d(1, 0, 0, 352deg) rotate3d(0, 1, 0, 43deg) rotate3d(0, 0, 1, 247deg) translate3d(0, 0, 76.5224920955vmin) ;
}

.star:nth-of-type(77) {
  --size: 0.6165721051vmin;
  --background: #fff299;
  --shadow: 0 0 0.7840228777vmin 0.2270757274vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 34deg) rotate3d(0, 1, 0, 47deg) rotate3d(0, 0, 1, 112deg) translate3d(0, 0, 79.9361938048vmin) ;
}

.star:nth-of-type(78) {
  --size: 0.5631342924vmin;
  --background: #9bf59c;
  --shadow: 0 0 0.5002718606vmin 0.0762257679vmin #adf7ae;
  --transform: rotate3d(1, 0, 0, 301deg) rotate3d(0, 1, 0, 258deg) rotate3d(0, 0, 1, 210deg) translate3d(0, 0, 71.1036927619vmin) ;
}

.star:nth-of-type(79) {
  --size: 0.4361836103vmin;
  --background: #12a2e0;
  --shadow: 0 0 0.2244411883vmin 0.0007954982vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 121deg) rotate3d(0, 1, 0, 297deg) rotate3d(0, 0, 1, 43deg) translate3d(0, 0, 65.6247060821vmin) ;
}

.star:nth-of-type(80) {
  --size: 0.492417833vmin;
  --background: #542061;
  --shadow: 0 0 0.5915934948vmin 0.0570462121vmin #6e2a7f;
  --transform: rotate3d(1, 0, 0, 31deg) rotate3d(0, 1, 0, 36deg) rotate3d(0, 0, 1, 312deg) translate3d(0, 0, 79.5276542526vmin) ;
}

.star:nth-of-type(81) {
  --size: 0.5350176071vmin;
  --background: #ec2997;
  --shadow: 0 0 0.3740829839vmin 0.1024312048vmin #ec2997;
  --transform: rotate3d(1, 0, 0, 96deg) rotate3d(0, 1, 0, 53deg) rotate3d(0, 0, 1, 350deg) translate3d(0, 0, 84.2400047414vmin) ;
}

.star:nth-of-type(82) {
  --size: 0.5339434959vmin;
  --background: #f79d65;
  --shadow: 0 0 0.516886597vmin 0.0673494666vmin #f9b58b;
  --transform: rotate3d(1, 0, 0, 49deg) rotate3d(0, 1, 0, 135deg) rotate3d(0, 0, 1, 293deg) translate3d(0, 0, 75.967124574vmin) ;
}

.star:nth-of-type(83) {
  --size: 0.5960513699vmin;
  --background: #706df4;
  --shadow: 0 0 0.6421799809vmin 0.2575838791vmin #7a77f4;
  --transform: rotate3d(1, 0, 0, 270deg) rotate3d(0, 1, 0, 118deg) rotate3d(0, 0, 1, 350deg) translate3d(0, 0, 70.5961599859vmin) ;
}

.star:nth-of-type(84) {
  --size: 0.2916822061vmin;
  --background: #15acec;
  --shadow: 0 0 0.1673131047vmin 0.0100013177vmin #27b2ee;
  --transform: rotate3d(1, 0, 0, 303deg) rotate3d(0, 1, 0, 20deg) rotate3d(0, 0, 1, 199deg) translate3d(0, 0, 68.4415284949vmin) ;
}

.star:nth-of-type(85) {
  --size: 0.6741291768vmin;
  --background: #ff255a;
  --shadow: 0 0 0.9321100726vmin 0.1065136985vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 90deg) rotate3d(0, 1, 0, 222deg) rotate3d(0, 0, 1, 73deg) translate3d(0, 0, 88.3807212876vmin) ;
}

.star:nth-of-type(86) {
  --size: 0.4354441651vmin;
  --background: #642674;
  --shadow: 0 0 0.6236042993vmin 0.1725899267vmin #642674;
  --transform: rotate3d(1, 0, 0, 46deg) rotate3d(0, 1, 0, 343deg) rotate3d(0, 0, 1, 165deg) translate3d(0, 0, 81.6310278596vmin) ;
}

.star:nth-of-type(87) {
  --size: 0.3507493777vmin;
  --background: #e4ebef;
  --shadow: 0 0 0.3414117167vmin 0.0992333274vmin #f8f9fb;
  --transform: rotate3d(1, 0, 0, 3deg) rotate3d(0, 1, 0, 268deg) rotate3d(0, 0, 1, 206deg) translate3d(0, 0, 81.7010097049vmin) ;
}

.star:nth-of-type(88) {
  --size: 0.5212587294vmin;
  --background: #5a2268;
  --shadow: 0 0 0.59807697vmin 0.0896537337vmin #682878;
  --transform: rotate3d(1, 0, 0, 52deg) rotate3d(0, 1, 0, 257deg) rotate3d(0, 0, 1, 207deg) translate3d(0, 0, 78.1156083855vmin) ;
}

.star:nth-of-type(89) {
  --size: 0.5941054952vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.3341888565vmin 0.0343985182vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 85deg) rotate3d(0, 1, 0, 13deg) rotate3d(0, 0, 1, 281deg) translate3d(0, 0, 70.4013998079vmin) ;
}

.star:nth-of-type(90) {
  --size: 0.2624019598vmin;
  --background: #f3eea7;
  --shadow: 0 0 0.2036452877vmin 0.118056004vmin #f3eea7;
  --transform: rotate3d(1, 0, 0, 315deg) rotate3d(0, 1, 0, 172deg) rotate3d(0, 0, 1, 275deg) translate3d(0, 0, 84.532243882vmin) ;
}

.star:nth-of-type(91) {
  --size: 0.3811036411vmin;
  --background: #f9b287;
  --shadow: 0 0 0.3228224747vmin 0.0517605393vmin #f9b287;
  --transform: rotate3d(1, 0, 0, 124deg) rotate3d(0, 1, 0, 245deg) rotate3d(0, 0, 1, 79deg) translate3d(0, 0, 86.1191948005vmin) ;
}

.star:nth-of-type(92) {
  --size: 0.3459036512vmin;
  --background: #8df48e;
  --shadow: 0 0 0.2599945734vmin 0.149196466vmin #bbf8bc;
  --transform: rotate3d(1, 0, 0, 138deg) rotate3d(0, 1, 0, 265deg) rotate3d(0, 0, 1, 310deg) translate3d(0, 0, 80.9583710198vmin) ;
}

.star:nth-of-type(93) {
  --size: 0.5439220243vmin;
  --background: #ff6ca7;
  --shadow: 0 0 0.4860385967vmin 0.2248028323vmin #ff8ab9;
  --transform: rotate3d(1, 0, 0, 189deg) rotate3d(0, 1, 0, 107deg) rotate3d(0, 0, 1, 163deg) translate3d(0, 0, 74.1413142344vmin) ;
}

.star:nth-of-type(94) {
  --size: 0.687473247vmin;
  --background: #fff194;
  --shadow: 0 0 0.9927549983vmin 0.1563426071vmin #fff5b2;
  --transform: rotate3d(1, 0, 0, 128deg) rotate3d(0, 1, 0, 191deg) rotate3d(0, 0, 1, 139deg) translate3d(0, 0, 78.8171267133vmin) ;
}

.star:nth-of-type(95) {
  --size: 0.53752302vmin;
  --background: #ff62a1;
  --shadow: 0 0 0.6412254313vmin 0.1123100183vmin #ff95bf;
  --transform: rotate3d(1, 0, 0, 221deg) rotate3d(0, 1, 0, 8deg) rotate3d(0, 0, 1, 331deg) translate3d(0, 0, 77.6291534166vmin) ;
}

.star:nth-of-type(96) {
  --size: 0.6093914371vmin;
  --background: #ff4371;
  --shadow: 0 0 0.3076742609vmin 0.2754966853vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 273deg) rotate3d(0, 1, 0, 144deg) rotate3d(0, 0, 1, 233deg) translate3d(0, 0, 77.3764213954vmin) ;
}

.star:nth-of-type(97) {
  --size: 0.4536824972vmin;
  --background: #f0e991;
  --shadow: 0 0 0.3708920093vmin 0.2000988813vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 218deg) rotate3d(0, 1, 0, 275deg) rotate3d(0, 0, 1, 47deg) translate3d(0, 0, 66.9162976601vmin) ;
}

.star:nth-of-type(98) {
  --size: 0.7343903904vmin;
  --background: #12a5e4;
  --shadow: 0 0 0.8527059378vmin 0.0795937267vmin #31b6ef;
  --transform: rotate3d(1, 0, 0, 179deg) rotate3d(0, 1, 0, 265deg) rotate3d(0, 0, 1, 278deg) translate3d(0, 0, 75.9015002097vmin) ;
}

.star:nth-of-type(99) {
  --size: 0.5595611876vmin;
  --background: #23b1ed;
  --shadow: 0 0 0.5324382389vmin 0.2211317131vmin #23b1ed;
  --transform: rotate3d(1, 0, 0, 201deg) rotate3d(0, 1, 0, 268deg) rotate3d(0, 0, 1, 72deg) translate3d(0, 0, 73.2540905583vmin) ;
}

.star:nth-of-type(100) {
  --size: 0.2661359874vmin;
  --background: #12a2e0;
  --shadow: 0 0 0.1771548019vmin 0.0965032039vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 170deg) rotate3d(0, 1, 0, 254deg) rotate3d(0, 0, 1, 338deg) translate3d(0, 0, 68.7229905592vmin) ;
}

.star:nth-of-type(101) {
  --size: 0.5198804048vmin;
  --background: #e8edf1;
  --shadow: 0 0 0.6100766991vmin 0.025259519vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 198deg) rotate3d(0, 1, 0, 283deg) rotate3d(0, 0, 1, 304deg) translate3d(0, 0, 66.8968451118vmin) ;
}

.star:nth-of-type(102) {
  --size: 0.6466474457vmin;
  --background: #f79a60;
  --shadow: 0 0 0.6327331692vmin 0.2606784785vmin #f9b890;
  --transform: rotate3d(1, 0, 0, 335deg) rotate3d(0, 1, 0, 61deg) rotate3d(0, 0, 1, 300deg) translate3d(0, 0, 89.7763482681vmin) ;
}

.star:nth-of-type(103) {
  --size: 0.692411428vmin;
  --background: #f9b58b;
  --shadow: 0 0 0.6440245142vmin 0.1562271479vmin #f9b58b;
  --transform: rotate3d(1, 0, 0, 308deg) rotate3d(0, 1, 0, 287deg) rotate3d(0, 0, 1, 357deg) translate3d(0, 0, 72.6007824521vmin) ;
}

.star:nth-of-type(104) {
  --size: 0.2623856459vmin;
  --background: #e1e8ed;
  --shadow: 0 0 0.2861651962vmin 0.0848086344vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 241deg) rotate3d(0, 1, 0, 39deg) rotate3d(0, 0, 1, 314deg) translate3d(0, 0, 66.331054458vmin) ;
}

.star:nth-of-type(105) {
  --size: 0.4171349281vmin;
  --background: #eb2495;
  --shadow: 0 0 0.3814395977vmin 0.0455852514vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 308deg) rotate3d(0, 1, 0, 226deg) rotate3d(0, 0, 1, 241deg) translate3d(0, 0, 81.7817948248vmin) ;
}

.star:nth-of-type(106) {
  --size: 0.3660415598vmin;
  --background: #27b2ee;
  --shadow: 0 0 0.3597930784vmin 0.1261620324vmin #27b2ee;
  --transform: rotate3d(1, 0, 0, 99deg) rotate3d(0, 1, 0, 18deg) rotate3d(0, 0, 1, 308deg) translate3d(0, 0, 66.1136902481vmin) ;
}

.star:nth-of-type(107) {
  --size: 0.656021512vmin;
  --background: #8380f5;
  --shadow: 0 0 0.3393469807vmin 0.1017033005vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 70deg) rotate3d(0, 1, 0, 300deg) rotate3d(0, 0, 1, 28deg) translate3d(0, 0, 71.0231685066vmin) ;
}

.star:nth-of-type(108) {
  --size: 0.2650283238vmin;
  --background: #efe788;
  --shadow: 0 0 0.2069092497vmin 0.0455018056vmin #f3efac;
  --transform: rotate3d(1, 0, 0, 187deg) rotate3d(0, 1, 0, 29deg) rotate3d(0, 0, 1, 121deg) translate3d(0, 0, 84.9962605186vmin) ;
}

.star:nth-of-type(109) {
  --size: 0.430241571vmin;
  --background: #8380f5;
  --shadow: 0 0 0.3868931085vmin 0.1546935782vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 150deg) rotate3d(0, 1, 0, 290deg) rotate3d(0, 0, 1, 189deg) translate3d(0, 0, 66.7945937793vmin) ;
}

.star:nth-of-type(110) {
  --size: 0.5245857644vmin;
  --background: #fff4ad;
  --shadow: 0 0 0.288169366vmin 0.2444071312vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 244deg) rotate3d(0, 1, 0, 61deg) rotate3d(0, 0, 1, 218deg) translate3d(0, 0, 76.6243797353vmin) ;
}

.star:nth-of-type(111) {
  --size: 0.6804265847vmin;
  --background: #722b83;
  --shadow: 0 0 0.5601452992vmin 0.0218315026vmin #722b83;
  --transform: rotate3d(1, 0, 0, 200deg) rotate3d(0, 1, 0, 175deg) rotate3d(0, 0, 1, 89deg) translate3d(0, 0, 84.2922772545vmin) ;
}

.star:nth-of-type(112) {
  --size: 0.689450407vmin;
  --background: #f0e991;
  --shadow: 0 0 0.7892452058vmin 0.2308931162vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 69deg) rotate3d(0, 1, 0, 183deg) rotate3d(0, 0, 1, 127deg) translate3d(0, 0, 82.7055320928vmin) ;
}

.star:nth-of-type(113) {
  --size: 0.6587848449vmin;
  --background: #ff6ca7;
  --shadow: 0 0 0.4136934703vmin 0.2378673558vmin #ff8ab9;
  --transform: rotate3d(1, 0, 0, 99deg) rotate3d(0, 1, 0, 95deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 88.6023680849vmin) ;
}

.star:nth-of-type(114) {
  --size: 0.6913128778vmin;
  --background: #f4efb0;
  --shadow: 0 0 1.0003523442vmin 0.2506222748vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 77deg) rotate3d(0, 1, 0, 296deg) rotate3d(0, 0, 1, 30deg) translate3d(0, 0, 71.5700602474vmin) ;
}

.star:nth-of-type(115) {
  --size: 0.2804841487vmin;
  --background: #f0ea96;
  --shadow: 0 0 0.4175691915vmin 0.0091971324vmin #f2ec9e;
  --transform: rotate3d(1, 0, 0, 159deg) rotate3d(0, 1, 0, 73deg) rotate3d(0, 0, 1, 341deg) translate3d(0, 0, 69.4495442348vmin) ;
}

.star:nth-of-type(116) {
  --size: 0.655483776vmin;
  --background: #ff2a5e;
  --shadow: 0 0 0.3686003063vmin 0.0846625335vmin #ff527c;
  --transform: rotate3d(1, 0, 0, 164deg) rotate3d(0, 1, 0, 285deg) rotate3d(0, 0, 1, 191deg) translate3d(0, 0, 79.4817656782vmin) ;
}

.star:nth-of-type(117) {
  --size: 0.4304371697vmin;
  --background: #f2eda3;
  --shadow: 0 0 0.507239923vmin 0.0246148785vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 86deg) rotate3d(0, 1, 0, 307deg) rotate3d(0, 0, 1, 26deg) translate3d(0, 0, 71.8467371641vmin) ;
}

.star:nth-of-type(118) {
  --size: 0.6086909603vmin;
  --background: #fff4ad;
  --shadow: 0 0 0.3354391116vmin 0.2782088532vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 94deg) rotate3d(0, 1, 0, 349deg) rotate3d(0, 0, 1, 153deg) translate3d(0, 0, 72.8805034351vmin) ;
}

.star:nth-of-type(119) {
  --size: 0.530021346vmin;
  --background: #f79a9a;
  --shadow: 0 0 0.363715029vmin 0.1636582175vmin #f79a9a;
  --transform: rotate3d(1, 0, 0, 134deg) rotate3d(0, 1, 0, 159deg) rotate3d(0, 0, 1, 116deg) translate3d(0, 0, 80.667890551vmin) ;
}

.star:nth-of-type(120) {
  --size: 0.4595516051vmin;
  --background: #fff194;
  --shadow: 0 0 0.5345197705vmin 0.2110789604vmin #fff5b2;
  --transform: rotate3d(1, 0, 0, 157deg) rotate3d(0, 1, 0, 214deg) rotate3d(0, 0, 1, 121deg) translate3d(0, 0, 78.8763861825vmin) ;
}

.star:nth-of-type(121) {
  --size: 0.7363962783vmin;
  --background: #e11488;
  --shadow: 0 0 0.3974249305vmin 0.3423855868vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 156deg) rotate3d(0, 1, 0, 21deg) rotate3d(0, 0, 1, 304deg) translate3d(0, 0, 65.0622123253vmin) ;
}

.star:nth-of-type(122) {
  --size: 0.3266543526vmin;
  --background: #eb1f93;
  --shadow: 0 0 0.4611019861vmin 0.0299760113vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 21deg) rotate3d(0, 1, 0, 281deg) rotate3d(0, 0, 1, 79deg) translate3d(0, 0, 85.6652438172vmin) ;
}

.star:nth-of-type(123) {
  --size: 0.3198941356vmin;
  --background: #fff194;
  --shadow: 0 0 0.2809838908vmin 0.070195516vmin #fff5b2;
  --transform: rotate3d(1, 0, 0, 276deg) rotate3d(0, 1, 0, 172deg) rotate3d(0, 0, 1, 311deg) translate3d(0, 0, 72.7142290588vmin) ;
}

.star:nth-of-type(124) {
  --size: 0.6138265206vmin;
  --background: #f2eda3;
  --shadow: 0 0 0.3336625919vmin 0.2883482087vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 88deg) rotate3d(0, 1, 0, 83deg) rotate3d(0, 0, 1, 20deg) translate3d(0, 0, 89.7518929205vmin) ;
}

.star:nth-of-type(125) {
  --size: 0.3287092108vmin;
  --background: #8380f5;
  --shadow: 0 0 0.3436378212vmin 0.0367560814vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 335deg) rotate3d(0, 1, 0, 356deg) rotate3d(0, 0, 1, 173deg) translate3d(0, 0, 70.8135182821vmin) ;
}

.star:nth-of-type(126) {
  --size: 0.5110788776vmin;
  --background: #572164;
  --shadow: 0 0 0.377505295vmin 0.1225942371vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 258deg) rotate3d(0, 1, 0, 40deg) rotate3d(0, 0, 1, 11deg) translate3d(0, 0, 81.46668636vmin) ;
}

.star:nth-of-type(127) {
  --size: 0.6450570273vmin;
  --background: #6c69f3;
  --shadow: 0 0 0.8240906843vmin 0.2943793193vmin #7e7bf5;
  --transform: rotate3d(1, 0, 0, 221deg) rotate3d(0, 1, 0, 248deg) rotate3d(0, 0, 1, 285deg) translate3d(0, 0, 78.5956089287vmin) ;
}

.star:nth-of-type(128) {
  --size: 0.6744296191vmin;
  --background: #12a2e0;
  --shadow: 0 0 0.8609457828vmin 0.0106053943vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 290deg) rotate3d(0, 1, 0, 144deg) rotate3d(0, 0, 1, 138deg) translate3d(0, 0, 72.2834488004vmin) ;
}

.star:nth-of-type(129) {
  --size: 0.3042841875vmin;
  --background: #ff255a;
  --shadow: 0 0 0.3646262518vmin 0.0028452976vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 63deg) rotate3d(0, 1, 0, 325deg) rotate3d(0, 0, 1, 64deg) translate3d(0, 0, 71.5014712821vmin) ;
}

.star:nth-of-type(130) {
  --size: 0.3347374723vmin;
  --background: #ff71aa;
  --shadow: 0 0 0.31435922vmin 0.0850145429vmin #ff85b6;
  --transform: rotate3d(1, 0, 0, 142deg) rotate3d(0, 1, 0, 54deg) rotate3d(0, 0, 1, 87deg) translate3d(0, 0, 82.0108145631vmin) ;
}

.star:nth-of-type(131) {
  --size: 0.6909926904vmin;
  --background: #27b2ee;
  --shadow: 0 0 0.5135319511vmin 0.0213372712vmin #27b2ee;
  --transform: rotate3d(1, 0, 0, 151deg) rotate3d(0, 1, 0, 210deg) rotate3d(0, 0, 1, 52deg) translate3d(0, 0, 68.9317930445vmin) ;
}

.star:nth-of-type(132) {
  --size: 0.384145843vmin;
  --background: #eb1f93;
  --shadow: 0 0 0.2140786479vmin 0.1185750868vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 291deg) rotate3d(0, 1, 0, 320deg) rotate3d(0, 0, 1, 352deg) translate3d(0, 0, 87.789216583vmin) ;
}

.star:nth-of-type(133) {
  --size: 0.601476152vmin;
  --background: #542061;
  --shadow: 0 0 0.611083646vmin 0.2125961745vmin #6e2a7f;
  --transform: rotate3d(1, 0, 0, 163deg) rotate3d(0, 1, 0, 315deg) rotate3d(0, 0, 1, 318deg) translate3d(0, 0, 72.1134812139vmin) ;
}

.star:nth-of-type(134) {
  --size: 0.4741265284vmin;
  --background: #adf7ae;
  --shadow: 0 0 0.425547948vmin 0.0584934423vmin #adf7ae;
  --transform: rotate3d(1, 0, 0, 201deg) rotate3d(0, 1, 0, 154deg) rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 66.7055796643vmin) ;
}

.star:nth-of-type(135) {
  --size: 0.6074490307vmin;
  --background: #15acec;
  --shadow: 0 0 0.8025467256vmin 0.057484984vmin #27b2ee;
  --transform: rotate3d(1, 0, 0, 285deg) rotate3d(0, 1, 0, 235deg) rotate3d(0, 0, 1, 324deg) translate3d(0, 0, 72.3220419573vmin) ;
}

.star:nth-of-type(136) {
  --size: 0.6473733709vmin;
  --background: #f79a9a;
  --shadow: 0 0 0.5450111551vmin 0.2523084447vmin #f79a9a;
  --transform: rotate3d(1, 0, 0, 324deg) rotate3d(0, 1, 0, 167deg) rotate3d(0, 0, 1, 92deg) translate3d(0, 0, 79.353573542vmin) ;
}

.star:nth-of-type(137) {
  --size: 0.6066492782vmin;
  --background: #f9af82;
  --shadow: 0 0 0.4462386416vmin 0.1694123133vmin #f9af82;
  --transform: rotate3d(1, 0, 0, 96deg) rotate3d(0, 1, 0, 149deg) rotate3d(0, 0, 1, 324deg) translate3d(0, 0, 89.8753081305vmin) ;
}

.star:nth-of-type(138) {
  --size: 0.3292749903vmin;
  --background: #fff299;
  --shadow: 0 0 0.2796365571vmin 0.0776870682vmin #fff4ad;
  --transform: rotate3d(1, 0, 0, 85deg) rotate3d(0, 1, 0, 333deg) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 82.2963467168vmin) ;
}

.star:nth-of-type(139) {
  --size: 0.4527479353vmin;
  --background: #722b83;
  --shadow: 0 0 0.3046842733vmin 0.022653333vmin #722b83;
  --transform: rotate3d(1, 0, 0, 169deg) rotate3d(0, 1, 0, 322deg) rotate3d(0, 0, 1, 163deg) translate3d(0, 0, 73.1652076202vmin) ;
}

.star:nth-of-type(140) {
  --size: 0.7392141842vmin;
  --background: #eee784;
  --shadow: 0 0 0.506677856vmin 0.1823003294vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 94deg) rotate3d(0, 1, 0, 244deg) rotate3d(0, 0, 1, 153deg) translate3d(0, 0, 66.8513866287vmin) ;
}

.star:nth-of-type(141) {
  --size: 0.5169289414vmin;
  --background: #2cb4ee;
  --shadow: 0 0 0.5523999253vmin 0.0831813398vmin #2cb4ee;
  --transform: rotate3d(1, 0, 0, 254deg) rotate3d(0, 1, 0, 296deg) rotate3d(0, 0, 1, 72deg) translate3d(0, 0, 79.8706529062vmin) ;
}

.star:nth-of-type(142) {
  --size: 0.6536864162vmin;
  --background: #ff5880;
  --shadow: 0 0 0.3348679084vmin 0.0433242713vmin #ff5880;
  --transform: rotate3d(1, 0, 0, 34deg) rotate3d(0, 1, 0, 77deg) rotate3d(0, 0, 1, 84deg) translate3d(0, 0, 67.5342724889vmin) ;
}

.star:nth-of-type(143) {
  --size: 0.5573991633vmin;
  --background: #ff67a4;
  --shadow: 0 0 0.5776353177vmin 0.0214720407vmin #ff8fbc;
  --transform: rotate3d(1, 0, 0, 258deg) rotate3d(0, 1, 0, 216deg) rotate3d(0, 0, 1, 117deg) translate3d(0, 0, 65.8801079465vmin) ;
}

.star:nth-of-type(144) {
  --size: 0.5850282056vmin;
  --background: #fff08f;
  --shadow: 0 0 0.8306592917vmin 0.2391132886vmin #fff6b7;
  --transform: rotate3d(1, 0, 0, 337deg) rotate3d(0, 1, 0, 340deg) rotate3d(0, 0, 1, 105deg) translate3d(0, 0, 88.7793154489vmin) ;
}

.star:nth-of-type(145) {
  --size: 0.5933630193vmin;
  --background: #f9b58b;
  --shadow: 0 0 0.5173540772vmin 0.0005504569vmin #f9b58b;
  --transform: rotate3d(1, 0, 0, 101deg) rotate3d(0, 1, 0, 63deg) rotate3d(0, 0, 1, 260deg) translate3d(0, 0, 86.9670277201vmin) ;
}

.star:nth-of-type(146) {
  --size: 0.3554895287vmin;
  --background: #fbfcfd;
  --shadow: 0 0 0.4436218802vmin 0.1118411386vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 194deg) rotate3d(0, 1, 0, 207deg) rotate3d(0, 0, 1, 242deg) translate3d(0, 0, 75.3739684015vmin) ;
}

.star:nth-of-type(147) {
  --size: 0.3599045991vmin;
  --background: #fff29e;
  --shadow: 0 0 0.5034088295vmin 0.1296882953vmin #fff4a8;
  --transform: rotate3d(1, 0, 0, 31deg) rotate3d(0, 1, 0, 250deg) rotate3d(0, 0, 1, 0deg) translate3d(0, 0, 68.1294978541vmin) ;
}

.star:nth-of-type(148) {
  --size: 0.6218956227vmin;
  --background: #d81383;
  --shadow: 0 0 0.5511452994vmin 0.0454477969vmin #ec2997;
  --transform: rotate3d(1, 0, 0, 79deg) rotate3d(0, 1, 0, 354deg) rotate3d(0, 0, 1, 31deg) translate3d(0, 0, 68.5954391211vmin) ;
}

.star:nth-of-type(149) {
  --size: 0.4560275052vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.6272719853vmin 0.0648570158vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 142deg) rotate3d(0, 1, 0, 193deg) rotate3d(0, 0, 1, 311deg) translate3d(0, 0, 80.7184806929vmin) ;
}

.star:nth-of-type(150) {
  --size: 0.2526907008vmin;
  --background: #e11488;
  --shadow: 0 0 0.3529328026vmin 0.1025437929vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 336deg) rotate3d(0, 1, 0, 68deg) rotate3d(0, 0, 1, 213deg) translate3d(0, 0, 68.280862861vmin) ;
}

.star:nth-of-type(151) {
  --size: 0.6239988299vmin;
  --background: #722b83;
  --shadow: 0 0 0.5996393228vmin 0.1051197103vmin #722b83;
  --transform: rotate3d(1, 0, 0, 86deg) rotate3d(0, 1, 0, 314deg) rotate3d(0, 0, 1, 304deg) translate3d(0, 0, 73.4371032174vmin) ;
}

.star:nth-of-type(152) {
  --size: 0.5369252417vmin;
  --background: #fff4a8;
  --shadow: 0 0 0.4347297027vmin 0.2598342276vmin #fff4a8;
  --transform: rotate3d(1, 0, 0, 104deg) rotate3d(0, 1, 0, 254deg) rotate3d(0, 0, 1, 309deg) translate3d(0, 0, 72.3781809384vmin) ;
}

.star:nth-of-type(153) {
  --size: 0.686104599vmin;
  --background: #542061;
  --shadow: 0 0 0.7746188423vmin 0.2247172221vmin #6e2a7f;
  --transform: rotate3d(1, 0, 0, 127deg) rotate3d(0, 1, 0, 293deg) rotate3d(0, 0, 1, 38deg) translate3d(0, 0, 84.058586728vmin) ;
}

.star:nth-of-type(154) {
  --size: 0.7160496348vmin;
  --background: #eb2495;
  --shadow: 0 0 0.5052479326vmin 0.1469740351vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 104deg) rotate3d(0, 1, 0, 313deg) rotate3d(0, 0, 1, 350deg) translate3d(0, 0, 66.3119934206vmin) ;
}

.star:nth-of-type(155) {
  --size: 0.697195774vmin;
  --background: #91f493;
  --shadow: 0 0 0.6103937459vmin 0.3082588795vmin #b7f8b7;
  --transform: rotate3d(1, 0, 0, 293deg) rotate3d(0, 1, 0, 355deg) rotate3d(0, 0, 1, 188deg) translate3d(0, 0, 73.8111065746vmin) ;
}

.star:nth-of-type(156) {
  --size: 0.4830740896vmin;
  --background: #642674;
  --shadow: 0 0 0.3440036762vmin 0.1170491574vmin #642674;
  --transform: rotate3d(1, 0, 0, 301deg) rotate3d(0, 1, 0, 343deg) rotate3d(0, 0, 1, 170deg) translate3d(0, 0, 65.4961623313vmin) ;
}

.star:nth-of-type(157) {
  --size: 0.2964727157vmin;
  --background: #19aded;
  --shadow: 0 0 0.4028776981vmin 0.1136502871vmin #23b1ed;
  --transform: rotate3d(1, 0, 0, 181deg) rotate3d(0, 1, 0, 338deg) rotate3d(0, 0, 1, 229deg) translate3d(0, 0, 84.3606597348vmin) ;
}

.star:nth-of-type(158) {
  --size: 0.6536698152vmin;
  --background: #eb1f93;
  --shadow: 0 0 0.3834888545vmin 0.3098363732vmin #eb1f93;
  --transform: rotate3d(1, 0, 0, 292deg) rotate3d(0, 1, 0, 155deg) rotate3d(0, 0, 1, 54deg) translate3d(0, 0, 73.6020395797vmin) ;
}

.star:nth-of-type(159) {
  --size: 0.5350985649vmin;
  --background: #ff527c;
  --shadow: 0 0 0.6508745496vmin 0.0963889267vmin #ff527c;
  --transform: rotate3d(1, 0, 0, 296deg) rotate3d(0, 1, 0, 112deg) rotate3d(0, 0, 1, 73deg) translate3d(0, 0, 66.0272639329vmin) ;
}

.star:nth-of-type(160) {
  --size: 0.5278756039vmin;
  --background: #f2eda3;
  --shadow: 0 0 0.5585821778vmin 0.1245871687vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 169deg) rotate3d(0, 1, 0, 351deg) rotate3d(0, 0, 1, 2deg) translate3d(0, 0, 86.6888526012vmin) ;
}

.star:nth-of-type(161) {
  --size: 0.5751455105vmin;
  --background: #ff4371;
  --shadow: 0 0 0.8573243379vmin 0.0225179584vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 236deg) rotate3d(0, 1, 0, 217deg) rotate3d(0, 0, 1, 50deg) translate3d(0, 0, 86.6673617465vmin) ;
}

.star:nth-of-type(162) {
  --size: 0.2528789775vmin;
  --background: #f79a9a;
  --shadow: 0 0 0.3122180192vmin 0.0836537406vmin #f79a9a;
  --transform: rotate3d(1, 0, 0, 225deg) rotate3d(0, 1, 0, 250deg) rotate3d(0, 0, 1, 312deg) translate3d(0, 0, 77.7438405163vmin) ;
}

.star:nth-of-type(163) {
  --size: 0.4336566933vmin;
  --background: #eee784;
  --shadow: 0 0 0.3739291815vmin 0.0077523171vmin #f4efb0;
  --transform: rotate3d(1, 0, 0, 122deg) rotate3d(0, 1, 0, 25deg) rotate3d(0, 0, 1, 282deg) translate3d(0, 0, 80.778762227vmin) ;
}

.star:nth-of-type(164) {
  --size: 0.6819114888vmin;
  --background: #6764f3;
  --shadow: 0 0 0.9032973694vmin 0.1572297273vmin #8380f5;
  --transform: rotate3d(1, 0, 0, 21deg) rotate3d(0, 1, 0, 240deg) rotate3d(0, 0, 1, 72deg) translate3d(0, 0, 65.305267275vmin) ;
}

.star:nth-of-type(165) {
  --size: 0.6301542431vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.8699620292vmin 0.2707748984vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 68deg) rotate3d(0, 1, 0, 308deg) rotate3d(0, 0, 1, 205deg) translate3d(0, 0, 71.7390989557vmin) ;
}

.star:nth-of-type(166) {
  --size: 0.3506993278vmin;
  --background: #f3eea7;
  --shadow: 0 0 0.3640185139vmin 0.0573780095vmin #f3eea7;
  --transform: rotate3d(1, 0, 0, 80deg) rotate3d(0, 1, 0, 268deg) rotate3d(0, 0, 1, 39deg) translate3d(0, 0, 87.2279600313vmin) ;
}

.star:nth-of-type(167) {
  --size: 0.360952793vmin;
  --background: #ec2d99;
  --shadow: 0 0 0.4970141861vmin 0.0198679507vmin #ec2d99;
  --transform: rotate3d(1, 0, 0, 22deg) rotate3d(0, 1, 0, 123deg) rotate3d(0, 0, 1, 54deg) translate3d(0, 0, 67.5248481573vmin) ;
}

.star:nth-of-type(168) {
  --size: 0.5184739637vmin;
  --background: #7e7bf5;
  --shadow: 0 0 0.2647348415vmin 0.0780515445vmin #7e7bf5;
  --transform: rotate3d(1, 0, 0, 180deg) rotate3d(0, 1, 0, 3deg) rotate3d(0, 0, 1, 137deg) translate3d(0, 0, 76.999083126vmin) ;
}

.star:nth-of-type(169) {
  --size: 0.4742909387vmin;
  --background: #8885f5;
  --shadow: 0 0 0.2932626253vmin 0.1898476942vmin #8885f5;
  --transform: rotate3d(1, 0, 0, 7deg) rotate3d(0, 1, 0, 177deg) rotate3d(0, 0, 1, 315deg) translate3d(0, 0, 72.3082504652vmin) ;
}

.star:nth-of-type(170) {
  --size: 0.4572138652vmin;
  --background: #91f493;
  --shadow: 0 0 0.4714229104vmin 0.0303049587vmin #b7f8b7;
  --transform: rotate3d(1, 0, 0, 132deg) rotate3d(0, 1, 0, 82deg) rotate3d(0, 0, 1, 219deg) translate3d(0, 0, 66.9058135034vmin) ;
}

.star:nth-of-type(171) {
  --size: 0.502533242vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.5968970303vmin 0.1907602187vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 250deg) rotate3d(0, 1, 0, 288deg) rotate3d(0, 0, 1, 150deg) translate3d(0, 0, 75.8308902573vmin) ;
}

.star:nth-of-type(172) {
  --size: 0.3241402646vmin;
  --background: #f0ea96;
  --shadow: 0 0 0.4763754376vmin 0.0769505383vmin #f2ec9e;
  --transform: rotate3d(1, 0, 0, 218deg) rotate3d(0, 1, 0, 42deg) rotate3d(0, 0, 1, 29deg) translate3d(0, 0, 67.4407968297vmin) ;
}

.star:nth-of-type(173) {
  --size: 0.5401276574vmin;
  --background: #ff3465;
  --shadow: 0 0 0.3397274464vmin 0.2458189594vmin #ff4875;
  --transform: rotate3d(1, 0, 0, 324deg) rotate3d(0, 1, 0, 128deg) rotate3d(0, 0, 1, 103deg) translate3d(0, 0, 82.7143115009vmin) ;
}

.star:nth-of-type(174) {
  --size: 0.2593025518vmin;
  --background: #f2eda3;
  --shadow: 0 0 0.3052787357vmin 0.1184446008vmin #f2eda3;
  --transform: rotate3d(1, 0, 0, 111deg) rotate3d(0, 1, 0, 260deg) rotate3d(0, 0, 1, 315deg) translate3d(0, 0, 81.3689255175vmin) ;
}

.star:nth-of-type(175) {
  --size: 0.5040943074vmin;
  --background: #f79090;
  --shadow: 0 0 0.4660822639vmin 0.0284923955vmin #f79090;
  --transform: rotate3d(1, 0, 0, 277deg) rotate3d(0, 1, 0, 300deg) rotate3d(0, 0, 1, 13deg) translate3d(0, 0, 83.8433792737vmin) ;
}

.star:nth-of-type(176) {
  --size: 0.4800798333vmin;
  --background: #e1e8ed;
  --shadow: 0 0 0.6151407747vmin 0.1699597953vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 39deg) rotate3d(0, 1, 0, 76deg) rotate3d(0, 0, 1, 136deg) translate3d(0, 0, 86.6231243317vmin) ;
}

.star:nth-of-type(177) {
  --size: 0.4448700262vmin;
  --background: #f2ec9e;
  --shadow: 0 0 0.3617769989vmin 0.1516889902vmin #f2ec9e;
  --transform: rotate3d(1, 0, 0, 138deg) rotate3d(0, 1, 0, 136deg) rotate3d(0, 0, 1, 358deg) translate3d(0, 0, 87.5336638622vmin) ;
}

.star:nth-of-type(178) {
  --size: 0.5496748781vmin;
  --background: #642674;
  --shadow: 0 0 0.3708024826vmin 0.2715495202vmin #642674;
  --transform: rotate3d(1, 0, 0, 119deg) rotate3d(0, 1, 0, 43deg) rotate3d(0, 0, 1, 272deg) translate3d(0, 0, 82.1047287735vmin) ;
}

.star:nth-of-type(179) {
  --size: 0.4984524894vmin;
  --background: #f8a673;
  --shadow: 0 0 0.262128731vmin 0.1094111486vmin #f8ac7d;
  --transform: rotate3d(1, 0, 0, 37deg) rotate3d(0, 1, 0, 268deg) rotate3d(0, 0, 1, 352deg) translate3d(0, 0, 72.5146095153vmin) ;
}

.star:nth-of-type(180) {
  --size: 0.3366331565vmin;
  --background: #dee6ec;
  --shadow: 0 0 0.2593766036vmin 0.0043097994vmin #fefefe;
  --transform: rotate3d(1, 0, 0, 158deg) rotate3d(0, 1, 0, 40deg) rotate3d(0, 0, 1, 350deg) translate3d(0, 0, 84.9235480555vmin) ;
}

.star:nth-of-type(181) {
  --size: 0.6853102839vmin;
  --background: #ff4371;
  --shadow: 0 0 0.3789399717vmin 0.0258614071vmin #ff4371;
  --transform: rotate3d(1, 0, 0, 42deg) rotate3d(0, 1, 0, 256deg) rotate3d(0, 0, 1, 77deg) translate3d(0, 0, 73.700722869vmin) ;
}

.star:nth-of-type(182) {
  --size: 0.6142206651vmin;
  --background: #e1e8ed;
  --shadow: 0 0 0.5182651179vmin 0.139536188vmin #fbfcfd;
  --transform: rotate3d(1, 0, 0, 291deg) rotate3d(0, 1, 0, 139deg) rotate3d(0, 0, 1, 30deg) translate3d(0, 0, 83.5223324843vmin) ;
}

.star:nth-of-type(183) {
  --size: 0.4509328599vmin;
  --background: #15acec;
  --shadow: 0 0 0.4962729476vmin 0.1140165852vmin #27b2ee;
  --transform: rotate3d(1, 0, 0, 300deg) rotate3d(0, 1, 0, 220deg) rotate3d(0, 0, 1, 25deg) translate3d(0, 0, 80.7190426182vmin) ;
}

.star:nth-of-type(184) {
  --size: 0.6879512907vmin;
  --background: #fff6bd;
  --shadow: 0 0 0.9392837845vmin 0.221741441vmin #fff6bd;
  --transform: rotate3d(1, 0, 0, 152deg) rotate3d(0, 1, 0, 211deg) rotate3d(0, 0, 1, 344deg) translate3d(0, 0, 72.2131058641vmin) ;
}

.star:nth-of-type(185) {
  --size: 0.5887446622vmin;
  --background: #7a77f4;
  --shadow: 0 0 0.8716311039vmin 0.0897332931vmin #7a77f4;
  --transform: rotate3d(1, 0, 0, 59deg) rotate3d(0, 1, 0, 175deg) rotate3d(0, 0, 1, 57deg) translate3d(0, 0, 88.8251347845vmin) ;
}

.star:nth-of-type(186) {
  --size: 0.5035068545vmin;
  --background: #f4f7f9;
  --shadow: 0 0 0.6079586758vmin 0.1646475763vmin #f4f7f9;
  --transform: rotate3d(1, 0, 0, 310deg) rotate3d(0, 1, 0, 130deg) rotate3d(0, 0, 1, 311deg) translate3d(0, 0, 89.2960800962vmin) ;
}

.star:nth-of-type(187) {
  --size: 0.4929026946vmin;
  --background: #ff76ad;
  --shadow: 0 0 0.5107191887vmin 0.0695838277vmin #ff80b3;
  --transform: rotate3d(1, 0, 0, 5deg) rotate3d(0, 1, 0, 308deg) rotate3d(0, 0, 1, 118deg) translate3d(0, 0, 81.3088343724vmin) ;
}

.star:nth-of-type(188) {
  --size: 0.3762788381vmin;
  --background: #f9b890;
  --shadow: 0 0 0.3533091687vmin 0.1096159354vmin #f9b890;
  --transform: rotate3d(1, 0, 0, 79deg) rotate3d(0, 1, 0, 183deg) rotate3d(0, 0, 1, 231deg) translate3d(0, 0, 87.2133966515vmin) ;
}

.star:nth-of-type(189) {
  --size: 0.2569960887vmin;
  --background: #6b297c;
  --shadow: 0 0 0.3821670736vmin 0.0388983685vmin #6b297c;
  --transform: rotate3d(1, 0, 0, 119deg) rotate3d(0, 1, 0, 192deg) rotate3d(0, 0, 1, 188deg) translate3d(0, 0, 76.3211011119vmin) ;
}

.star:nth-of-type(190) {
  --size: 0.2833435508vmin;
  --background: #ff76ad;
  --shadow: 0 0 0.2691295393vmin 0.0797783539vmin #ff80b3;
  --transform: rotate3d(1, 0, 0, 162deg) rotate3d(0, 1, 0, 133deg) rotate3d(0, 0, 1, 206deg) translate3d(0, 0, 85.0446814504vmin) ;
}

.star:nth-of-type(191) {
  --size: 0.7316659212vmin;
  --background: #ff6ca7;
  --shadow: 0 0 0.5139447007vmin 0.1911555574vmin #ff8ab9;
  --transform: rotate3d(1, 0, 0, 211deg) rotate3d(0, 1, 0, 251deg) rotate3d(0, 0, 1, 212deg) translate3d(0, 0, 73.3990030484vmin) ;
}

.star:nth-of-type(192) {
  --size: 0.3606904812vmin;
  --background: #ff2f61;
  --shadow: 0 0 0.4300048707vmin 0.1720881322vmin #ff4d79;
  --transform: rotate3d(1, 0, 0, 249deg) rotate3d(0, 1, 0, 291deg) rotate3d(0, 0, 1, 310deg) translate3d(0, 0, 82.1209267319vmin) ;
}

.star:nth-of-type(193) {
  --size: 0.6025981264vmin;
  --background: #f7a36e;
  --shadow: 0 0 0.6089004042vmin 0.0203338504vmin #f9af82;
  --transform: rotate3d(1, 0, 0, 308deg) rotate3d(0, 1, 0, 259deg) rotate3d(0, 0, 1, 50deg) translate3d(0, 0, 74.5884747796vmin) ;
}

.star:nth-of-type(194) {
  --size: 0.5666436156vmin;
  --background: #36b7ef;
  --shadow: 0 0 0.2858509608vmin 0.0732760037vmin #36b7ef;
  --transform: rotate3d(1, 0, 0, 202deg) rotate3d(0, 1, 0, 124deg) rotate3d(0, 0, 1, 125deg) translate3d(0, 0, 68.5580058603vmin) ;
}

.star:nth-of-type(195) {
  --size: 0.7063532965vmin;
  --background: #ff71aa;
  --shadow: 0 0 0.4979093493vmin 0.2200273451vmin #ff85b6;
  --transform: rotate3d(1, 0, 0, 122deg) rotate3d(0, 1, 0, 4deg) rotate3d(0, 0, 1, 237deg) translate3d(0, 0, 65.422184974vmin) ;
}

.star:nth-of-type(196) {
  --size: 0.6347219431vmin;
  --background: #f57979;
  --shadow: 0 0 0.9426550941vmin 0.159645324vmin #f79595;
  --transform: rotate3d(1, 0, 0, 81deg) rotate3d(0, 1, 0, 60deg) rotate3d(0, 0, 1, 302deg) translate3d(0, 0, 74.7774211624vmin) ;
}

.star:nth-of-type(197) {
  --size: 0.6565653506vmin;
  --background: #ff2a5e;
  --shadow: 0 0 0.9231583932vmin 0.047365605vmin #ff527c;
  --transform: rotate3d(1, 0, 0, 235deg) rotate3d(0, 1, 0, 141deg) rotate3d(0, 0, 1, 157deg) translate3d(0, 0, 81.0218414006vmin) ;
}

.star:nth-of-type(198) {
  --size: 0.4024250161vmin;
  --background: #9bf59c;
  --shadow: 0 0 0.5736493425vmin 0.141490951vmin #adf7ae;
  --transform: rotate3d(1, 0, 0, 260deg) rotate3d(0, 1, 0, 127deg) rotate3d(0, 0, 1, 53deg) translate3d(0, 0, 66.6140297157vmin) ;
}

.star:nth-of-type(199) {
  --size: 0.5658643405vmin;
  --background: #13a9e9;
  --shadow: 0 0 0.3524070211vmin 0.1624244641vmin #2cb4ee;
  --transform: rotate3d(1, 0, 0, 257deg) rotate3d(0, 1, 0, 252deg) rotate3d(0, 0, 1, 352deg) translate3d(0, 0, 80.0980357439vmin) ;
}

.star:nth-of-type(200) {
  --size: 0.2664663826vmin;
  --background: #eb2495;
  --shadow: 0 0 0.2627816725vmin 0.1134737807vmin #eb2495;
  --transform: rotate3d(1, 0, 0, 276deg) rotate3d(0, 1, 0, 318deg) rotate3d(0, 0, 1, 88deg) translate3d(0, 0, 78.8101467246vmin) ;
}

@keyframes rotation {
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes appear {
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes scale {
  0%, 100% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.75, 0.75, 0.75);
  }
}

/*# sourceMappingURL=Background.css.map */
