.Contact {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  background-color: #16164b;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #ffffff;
  border-radius: 3px;
  margin-top: 250px;

  &_Icon {
    width: 35px;
    margin: 10px 0;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.5);
      transition: ease-in-out 0.3s;
    }
  }
}