.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #16164b;
  position: fixed;
  width: 100vw;
  z-index: 2;
  height: 80px;

  &_Logo {
    margin-left: 30px;
    width: 50%;

    img {
      width: 50px;
      border-radius: 50%;
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: ease-in-out 0.3s;
      }
    }
  }

  &_Navbar {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-around;
    width: 50%;

    &_Home, &_About, &_Skills, &_Projects {
      position: relative;
      padding: 5px;

      &:before {
        transition: all 0.4s;
        position:absolute;
        content:"";
        width:100%;
        height:50%;
        left:50%;
        margin-left:-50%;
        top:25%;
        border-color:rgba(22,22,75,0);
        border-style:solid;
        border-width:0 1px;
        z-index: -1;
      }

      &:after {
        transition: all 0.4s;
        position:absolute;
        content:"";
        width:50%;
        height:100%;
        left:50%;
        margin-left:-25%;
        top:0;
        border-color:rgba(22,22,75,0);
        border-style:solid;
        border-width:1px 0;
        z-index: -1;
      }

      &:hover {
        cursor: pointer;
        padding: 5px;
        &:before {
          top:0%;
          border-color:rgba(255,255,255,1);
          height: 100%;

        }

        &:after {
          margin-left:-50%;
          border-color:rgba(255,255,255,1);
          width: 100%;
        }
      }

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}