.Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #16164b;
  position: fixed;
  width: 100vw;
  z-index: 2;
  height: 80px;
}
.Header_Logo {
  margin-left: 30px;
  width: 50%;
}
.Header_Logo img {
  width: 50px;
  border-radius: 50%;
  transition: ease-in-out 0.3s;
}
.Header_Logo img:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.Header_NavbarRD {
  opacity: 0;
  display: none;
}
.Header_Navbar {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: space-around;
  width: 50%;
}
.Header_Navbar_Menu {
  visibility: hidden;
}
.Header_Navbar_Home, .Header_Navbar_About, .Header_Navbar_Skills, .Header_Navbar_Projects {
  position: relative;
  padding: 5px;
}
.Header_Navbar_Home:before, .Header_Navbar_About:before, .Header_Navbar_Skills:before, .Header_Navbar_Projects:before {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 50%;
  margin-left: -50%;
  top: 25%;
  border-color: rgba(22, 22, 75, 0);
  border-style: solid;
  border-width: 0 1px;
  z-index: -1;
}
.Header_Navbar_Home:after, .Header_Navbar_About:after, .Header_Navbar_Skills:after, .Header_Navbar_Projects:after {
  transition: all 0.4s;
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 50%;
  margin-left: -25%;
  top: 0;
  border-color: rgba(22, 22, 75, 0);
  border-style: solid;
  border-width: 1px 0;
  z-index: -1;
}
.Header_Navbar_Home:hover, .Header_Navbar_About:hover, .Header_Navbar_Skills:hover, .Header_Navbar_Projects:hover {
  cursor: pointer;
  padding: 5px;
}
.Header_Navbar_Home:hover:before, .Header_Navbar_About:hover:before, .Header_Navbar_Skills:hover:before, .Header_Navbar_Projects:hover:before {
  top: 0%;
  border-color: rgb(255, 255, 255);
  height: 100%;
}
.Header_Navbar_Home:hover:after, .Header_Navbar_About:hover:after, .Header_Navbar_Skills:hover:after, .Header_Navbar_Projects:hover:after {
  margin-left: -50%;
  border-color: rgb(255, 255, 255);
  width: 100%;
}
.Header_Navbar_Home a, .Header_Navbar_About a, .Header_Navbar_Skills a, .Header_Navbar_Projects a {
  text-decoration: none;
  color: #ffffff;
}
.Header_Navbar_Home a:hover, .Header_Navbar_About a:hover, .Header_Navbar_Skills a:hover, .Header_Navbar_Projects a:hover {
  color: #ffffff;
}

@media only screen and (max-width: 390px) {
  .Header_Logo {
    margin: 0;
    width: 50%;
  }
  .Header_Logo img {
    width: 40px;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
  }
  .Header_Navbar {
    justify-content: flex-end;
  }
  .Header_Navbar_Home, .Header_Navbar_About, .Header_Navbar_Projects {
    display: none;
  }
  .Header_Navbar_Menu {
    display: flex;
    color: #ffffff;
    visibility: visible;
  }
  .Header_NavbarRD.show {
    opacity: 1;
    left: 0;
  }
  .Header_NavbarRD {
    position: absolute;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    top: 0;
    opacity: 0;
  }
  .Header_NavbarRD_Close {
    position: absolute;
    right: 5%;
    top: 2%;
  }
  .Header_NavbarRD_Logo {
    padding: 0 2px 20px;
    margin: 0;
  }
  .Header_NavbarRD_Logo a img {
    width: 30px;
    border-radius: 50%;
  }
  .Header_NavbarRD_Home, .Header_NavbarRD_About, .Header_NavbarRD_Projects {
    padding: 20px 2px;
    color: #000000;
  }
  .Header_NavbarRD_Home a, .Header_NavbarRD_About a, .Header_NavbarRD_Projects a {
    text-decoration: none;
    color: #000000;
  }
  .Header_NavbarRD_Home a:hover, .Header_NavbarRD_About a:hover, .Header_NavbarRD_Projects a:hover {
    color: #000000;
  }
}

/*# sourceMappingURL=Header.css.map */
