
//* {
//  outline: 1px solid red;
//  background: gray;
//}

body {
  margin: 0;
  background-color: #03002e;
  overflow-x: hidden;
  font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}